{% extends 'main/layoute.html' %}


{% block title %}
    <title>Новостная django</title>

{% endblock %}

{% block content %}
    <h1>Новостная страничка {{ caption }}!</h1>
    <br>
    {% if news %}
        {% for new in news %}
            <div>
                <h4>{{ new.title }}</h4>
                <h5>{{ new.short_description }}</h5>
                <p>{{ new.text }}</p>
                <p>Автор: {{ new.author.username }}</p>
                <p>Опубликовано: {{ new.pub_date }}</p>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <h4>Новостей ещё нет</h4>
    {% endif %}
{% endblock %}
