<style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
        }
        aside {
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-bottom: 30px;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin-bottom: 15px;
        }
        span {
            display: block;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            color: #333;
            margin-bottom: 25px;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
        }
        li a {
            display: block;
            padding: 10px 0;
            text-decoration: none;
            color: #007bff;
            transition: color 0.3s ease;
        }
        li a:hover {
            color: #0056b3;
        }
        main {
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
</style>