{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>

{% endblock %}

{% block content%}

<h1>Добро пожаловать на {{caption}}!</h1>
<br>
<h6>{{caption}} — это уникальная платформа, объединяющая любителей кошек и разработчиков Django. Здесь каждый найдет что-то для себя: от полезных инструментов для разработки до уютного уголка для общения о пушистых друзьях.</h6>
<br>
<h4>Что вас ждет на {{caption}}?</h4>
<Ul>
    <li>* Галерея котиков: делитесь фотографиями своих питомцев и вдохновляйтесь работами других.</li>
    <li>* Блог о Django: свежие статьи, советы и лайфхаки для разработчиков.</li>
    <li>* Советы по уходу за кошками: узнавайте новые способы заботиться о пушистых компаньонах.</li>
    <li>* Интерактивное сообщество: участвуйте в обсуждениях и задавайте вопросы.</li>
</Ul><br>
<h4>Почему {{caption}}?</h4>
<p>Мы создали эту платформу с любовью к кошкам и страстью к разработке. Здесь вы найдете вдохновение и поддержку, независимо от того, новичок вы в Django или опытный профессионал.</p>

<h4>Присоединяйтесь уже сегодня!</h4>
<p>Создайте аккаунт, чтобы загрузить фотографии вашего котика и обсудить последние новости разработки Django.</p>

<p>Кошки и код ждут вас!</p>
{% endblock %}

